@media only screen and (max-width: 740px) {
  #wrapper{
    display: block;
    width: 100%;
    float: none;

  }
  #wrapper h1,h2{
    text-align: center;
  }
}

@media only screen and (max-width: 570px) {
  #wrapper{
    display: block;
  width: 100%;
float: none;}
}
@media only screen and (max-width: 480px) {
  #wrapper{
    display: block;
  width: 100%;
  float: none;
}
}
