html, button, input, select, textarea{
  color:#444;

}
html{
  font-size: 1em;
  line-height: 1.4;
  background-color: #FFF;
}
#wrapper{
  max-width: 900px;
  min-width: 320px;
  margin: 10px auto 10px auto;

}
#wrapper   h1,h2{
font-family: open-sans, sans-serif;
  }


.home-info{
  border: 3px solid;
vertical-align: top;
display: inline-block;
margin: 10px 0px 10px 0px;
border: 1px solid #dfd4ff;


}
.home-info dl{
   float: left;
   width: 50%;
 }
 .imgCv{
   float: right;
 width: 20%;
 border: 1px solid #ccc;
 background-color: white;
 box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
 position: relative;
padding: 28px;
}
.presentation{
border: 3px solid;
margin: 10px 0px 10px 0px;
border: 1px solid #dfd4ff;


}
.exp-info{
  border: 3px solid;
  margin: 10px 0px 10px 0px;
  border: 1px solid #dfd4ff;



}
.comp-info{
  border: 3px solid;
  margin: 10px 0px 10px 0px;
  border: 1px solid #dfd4ff;


}
.form-info{
  border: 3px solid;
  margin: 10px 0px 10px 0px;
  border: 1px solid #dfd4ff;



}
.hobb-info{
  border: 3px solid;
  margin: 10px 0px 10px 0px;
  border: 1px solid #dfd4ff;



}
footer{
  border: 3px solid;
  margin: 10px 0px 10px 0px;
  border: 1px solid #dfd4ff;


}
i{
  aria-hidden:"true";
   font-size:20px;
}
a{
  text-decoration:none;

}
